## IOT Analytics Home work
#### By Karan Rakesh

Given in the box below is the function to run the simulation. Scroll below for the task 2.1 part A and 2.1 part b.

In [9]:
import pandas as pd

def runsim(df):
    while True:
        lrow = df.iloc[[-1]]
        nrow = df.iloc[[-1]]
        if int(lrow.mc)>=timelimit:
            break
        if (int(lrow.rtcl) <= int(lrow.nonrtcl)) & (int(lrow.rtcl) <= int(lrow.scl)):
            nrow.mc = lrow.rtcl
            nrow.rtcl += rt_int
            if int(lrow.s)==0:
                nrow.s=1
                nrow.scl= nrow.mc + rts
            elif int(lrow.s)==1 and int(nrow.mc) == int(lrow.scl):
                nrow.scl= nrow.mc + rts
            elif int(lrow.s)==1:
                nrow.nrt += 1
            elif int(lrow.s)==2:
                nrow.preempt = lrow.scl-lrow.rtcl
                nrow.s = 1
                nrow.scl= nrow.mc + rts
                if int(nrow.preempt > 0):
                    nrow.nnonrt += 1
        elif int(lrow.nonrtcl) <= int(lrow.scl):
            nrow.mc = lrow.nonrtcl
            nrow.nonrtcl += nonrt_int
            if int(lrow.s)==0:
                nrow.s=2
                nrow.scl= nrow.mc + nonrts
            elif int(nrow.mc) == int(lrow.scl):
                if int(lrow.nrt) > 0:
                    nrow.nrt -= 1
                    nrow.s = 1
                    nrow.scl= nrow.mc + rts
                elif int(lrow.preempt) > 0:
                    nrow.scl = lrow.scl + lrow.preempt
                    nrow.s=2
                    nrow.preempt = 0
                else:    
                    nrow.scl= nrow.mc + nonrts
            elif int(lrow.s)==1:
                nrow.nnonrt += 1
            elif int(lrow.s)==2:
                nrow.nnonrt += 1
        else:
            nrow.mc = lrow.scl
            if int(lrow.nrt) > 0:
                nrow.scl = nrow.mc + rts
                nrow.nrt -= 1
                nrow.s = 1
            elif int(lrow.preempt) > 0:
                nrow.scl = nrow.mc + lrow.preempt
                nrow.nnonrt -= 1
                nrow.s = 2
                nrow.preempt = 0
            elif int(lrow.nnonrt) > 0:
                nrow.scl = nrow.mc + nonrts
                nrow.nnonrt -= 1
                nrow.s = 2
            else:
                nrow.s = 0
                nrow.scl = 99999
                
        df = df.append(nrow)
    return df

def write_file(df,fileno):
    writer = pd.ExcelWriter('task_1_'+fileno+'.xlsx', engine='xlsxwriter')

    df2.to_excel(writer, sheet_name='Sheet1')

    writer.save()

## Task 1.1 Part A

The values below represent:
* timelimit is the limit for the Master Clock
* rt_int is the real time msg interval
* nonrt_int is the non real time msg intercal
* rts is the real time msg service time
* nonrts is the non real time service time

In [10]:
tables = {'mc': [0],
        'rtcl': [3],
        'nonrtcl': [5],
        'nrt': [0],
        'nnonrt': [0],
        'scl': [4],
        's': [2],
        'preempt': [0]
       }

df = pd.DataFrame(tables, columns = ['mc','rtcl','nonrtcl','nrt','nnonrt','scl','s','preempt'])

display (df)

timelimit = 50
rt_int = 10
nonrt_int = 5
rts = 2
nonrts = 4

df2 = runsim(df)
display (df2)
write_file (df2, '1')

   mc  rtcl  nonrtcl  nrt  nnonrt  scl  s  preempt
0   0     3        5    0       0    4  2        0

   mc  rtcl  nonrtcl  nrt  nnonrt  scl  s  preempt
0   0     3        5    0       0    4  2        0
0   3    13        5    0       1    5  1        1
0   5    13       10    0       1    6  2        0
0   6    13       10    0       0   10  2        0
0  10    13       15    0       0   14  2        0
0  13    23       15    0       1   15  1        1
0  15    23       20    0       1   16  2        0
0  16    23       20    0       0   20  2        0
0  20    23       25    0       0   24  2        0
0  23    33       25    0       1   25  1        1
0  25    33       30    0       1   26  2        0
0  26    33       30    0       0   30  2        0
0  30    33       35    0       0   34  2        0
0  33    43       35    0       1   35  1        1
0  35    43       40    0       1   36  2        0
0  36    43       40    0       0   40  2        0
0  40    43       45    0       0   44  2        0
0  43    53       45    0       1   45  1        1
0  45    53       50    0       1   46  2        0
0  46    53       50    0       0   50  2        0
0  50    53       55    0       0   54  2        0

## Task 2.1 Part B

The values below represent:
* timelimit is the limit for the Master Clock
* rt_int is the real time msg interval
* nonrt_int is the non real time msg intercal
* rts is the real time msg service time
* nonrts is the non real time service time

In [11]:
tables = {'mc': [0],
        'rtcl': [3],
        'nonrtcl': [5],
        'nrt': [0],
        'nnonrt': [0],
        'scl': [4],
        's': [2],
        'preempt': [0]
       }

df = pd.DataFrame(tables, columns = ['mc','rtcl','nonrtcl','nrt','nnonrt','scl','s','preempt'])

display (df)

timelimit = 20
rt_int = 5
nonrt_int = 10
rts = 4
nonrts = 2

df2 = runsim(df)
display (df2)
write_file (df2, '2')

   mc  rtcl  nonrtcl  nrt  nnonrt  scl  s  preempt
0   0     3        5    0       0    4  2        0

   mc  rtcl  nonrtcl  nrt  nnonrt  scl  s  preempt
0   0     3        5    0       0    4  2        0
0   3     8        5    0       1    7  1        1
0   5     8       15    0       2    7  1        1
0   7     8       15    0       1    8  2        0
0   8    13       15    0       1   12  1        0
0  12    13       15    0       0   14  2        0
0  13    18       15    0       1   17  1        1
0  15    18       25    0       2   17  1        1
0  17    18       25    0       1   18  2        0
0  18    23       25    0       1   22  1        0
0  22    23       25    0       0   24  2        0